/* Reset con stellina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  #f6f8f9;
    font-family: sans-serif, Arial, Helvetica;
}

header{
    height: 75px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: white;
}

li{
    list-style: none; /* gli stiamo dicendo che le liste non avranno uno stile definito */
    padding: 10px 0; /* L'area di riempimento di un elemento è lo spazio tra il suo contenuto e il suo bordo. andando a modificare il contenuto  - i margini invece sono l'opposto*/
    color: #434851;
}

.container{
    width: 75%;
    margin: 0 auto;
    background-color: white;
}

.top{
    height: 50px;
    padding: 0 50px;
    line-height: 50px; /* sostanzialmente l'interlinea */
    border-bottom: 2px solid #f6f8f9;
}

.btn{
    border:none;
    padding: 7px 14px;
    border-radius: 7px; /* angoli arrotondati */
}

.btn-white{
    color: gray;
    border: solid 1px black;
}

.btn-blue{
    color: white;
    border: solid 1px #14aaf5;
}

.tasks{
    padding: 20px 50px; 
}

.circle{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center; /* allineamento testo */
    font-size: .65em;
    border-radius: 50%;
    display: inline-block; 
    margin-right: .5em;
    border: 1px transparent solid;
}

.checked{
    color: rgb(7, 202, 7);
    border-color: rgb(7, 202, 7);
}

.unchecked{
    color: rgb(220, 0, 0);
    border-color: rgb(220, 0, 0);
}

/* cerchiamo di raggruppare le proprietà rindondanti */
.tag{
    color: white;
    font-size: .7em;
    padding: 6px 12px;
    border-radius: 10px;  
    background-color: grey;
}

.bg-blue{
    background-color: #09a9ed;
}

.bg-orange{
    background-color: #ff9b00;
}

.bg-green{
    background-color: #2cc6ab;
}

.bg-violet{
    background-color: #ab5de6;
}

.bg-lime{
    background-color: #a3d116;
}

.bg-pink{
    background-color: #ec4a9d;
}

#logo{
    height: 100%;
    vertical-align: bottom; /* comando per allineare a piacimento l'immagine rispetto al testo, sembrerà che l'immagine rimane ferma e il testo si sposta, ma è solo una percezione causacontenitore troppo piccolo */
}

    
    #logo-text{
        font-size: 2.3em;
        font-weight: 900;
    }