*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

.header-container{
    margin: 10px 0px 5px 0;
}
.logo{
    margin-left: 15px;
}

.logo-text {
    font-size: 33pt;
    font-weight: bold;
    vertical-align: top;
}

.main-container{
    background-color: rgb(243, 243, 243);
    width: auto;
    height: auto;
    overflow: auto;
}

.box-to-do{
    padding-bottom: 340px;
    margin: 50px 150px 10px 150px;
    background-color: white;
    
    border-radius: 10px;
    overflow: auto;
}

.add-something{
    margin-top: 5px;
    padding: 10px 0px 10px 40px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.button{
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
}

.container-list{
    padding: 40px 0px 0px 60px;
    font-size: 15pt;
}

.list{
    list-style-type: "\25BE";
}

.title{
    margin-left: 5px;
    font-weight: 600;
}
.sub-list{
    padding:10px 0px 10px 0px;
}

.done{
    list-style-type: none;
    padding-top:5pt;
}


.done:before{
    border: 1px solid green;
    border-radius: 50%;
    content: "\2713";
    background-color: white;
    color: green;
    padding: 1px 4px 1px 4px;
    
}

.undone{
    list-style-type: none;
    padding-top: 5pt;
}

.undone:before{
    border: 1px solid red;
    border-radius: 50%;
    content: "\2717";
    background-color: white;
    color: red;
    padding: 1px 4px 1px 4px;
}

.content{
    color: black;
    padding-left: 5px;
}

.content-list{
    margin: 5px;
    padding-left: 5px;
    

}

.editorial{
    background-color: rgb(101, 206, 255);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

.goals{
    background-color: rgb(168, 101, 255);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

.recruiting{
    background-color: rgb(145, 206, 158);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

.mobile{
    background-color: rgb(228, 151, 36);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

.tindermatch{
    background-color: rgb(228, 30, 30);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}


.website{
    background-color: rgb(221, 30, 228);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

.sales{
    background-color: rgb(132, 179, 94);
    border-radius: 12px;
    border: none;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 10pt;
    color:white;
}

#selected-button{
    background-color: rgb(101, 206, 255);
    color: white;
}

#unselected-button{
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(212, 212, 212);
}