*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, Arial, Helvetica;
}

.header-container{
    margin: 10px 0px 5px 0;
}
.logo{
    margin-left: 15px;
}

.logo-text {
    font-size: 33pt;
    font-weight: bold;
    vertical-align: top;
}

.main-container{
    background-color: rgb(243, 243, 243);
    height: 500px;
    overflow: auto;
}

.box-to-do{
    margin: 50px 150px 10px 150px;
    background-color: white;
    height: 700px;
    border-radius: 10px;
    overflow: auto;
}

.add-something{
    margin-top: 5px;
    padding: 10px 0px 10px 40px;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.button{
    padding: 5px 10px 5px 10px;
    font-size: 10pt;
    border: none;
    border-radius: 5px;
}

#selected-button{
    background-color: rgb(101, 139, 255);
    color: white;
}

#unselected-button{
    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    color: rgb(212, 212, 212);
}